#main-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
}

.hex-border {
    width: 46px;
    border-bottom: 2px solid #4a4c4f;
    position: absolute;
}

.bottom-left{
    transform: rotate(28deg);
    top: 81px;
    left: 4px;
}

.bottom-right{
    transform: rotate(-28deg);
    top: 81px;
    left: 48px;
}

.top-left{
    transform: rotate(-28deg);
    top: 17px;
    left: 4px;
}

.top-right{
    transform: rotate(28deg);
    top: 17px;
    left: 49px;
}

.hexagon-content {
    width: 170px;
    max-height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    background-color: transparent;
}